
<ion-content>
  <div class="content">
      <div class="title">
          <ion-title>
              {{title}}
             </ion-title>
      </div>
         
    
      <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <input type="text" pattern="[0-9]*" #badge="ngModel" [(ngModel)]="userService.selectedUser.badge" name="badge" placeholder="badge"
        required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !badge.valid }">
        <div *ngIf="signUpForm.submitted && badge.errors">
          <label *ngIf="badge.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="badge.errors.pattern" class="validation-message">Invalid badge.</label>
        </div> 
        <div class="btn">
          <input type="submit" value="Sign In">
        </div>
      </form>
  </div>
</ion-content>

