*{
  margin: 0;
  padding: 0;
}

.columns {
  max-width: 580px;
  max-height: 450px;
  margin: 10px;
}

$radioSize: 18px;

.box{
  width: 200px;
  border: 2px solid blue;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  margin: 5px 0 5px 0;  

  align-items: center;
  
}
.box-b{
  width: 210px;
  border: 2px solid blue;
  display: flex;
  flex-flow: row wrap;
  margin: 5px 0 5px 0;   
  
  align-items: center;  
}




.subTitle {
  background-color: #3880ff;
  width: 100%;
  justify-content: center;
  margin-bottom: 5px;
  
  
  h4 {
    
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
  }
}

.fsrTitle {
  background-color: #3880ff;
  width: 100%;
  justify-content: center;
  
  
  h4 {
    
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
  }
}
.radio-list {
  
  display: grid;
  grid-template-columns: 100px 90px;
  grid-template-rows: repeat(2, 20px);
   grid-gap: 0px;
  
}

.radio-list-new {
  
  display: grid;
  grid-template-columns: 80px 150px;
  grid-template-rows: repeat(2, 20px);
   grid-gap: 5px;
}

.radio-list-two {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;  
  
}

.items{
  
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-bottom: 5px;
  width: auto;

}

.items-b{
 
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-bottom: 5px;
  width: auto;
 
}
.items-special-margin{
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-bottom: 20px;
  width: auto;

}
.item-special{
  display: flex;
  flex-flow: row wrap;
  //margin-left: 10px;
  margin-bottom: 5px;

}
.label-size{
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 5px;  
  align-self: center;
  font-weight: bolder;

 }




ion-toolbar{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-title{
  font-size: 20px;
  text-align: center;
}

.textarea {
  border: 2px solid blue;
  font-size: 13px;
  text-align: left;
  }

  .fsrTextArea {
    font-size: 12px;
    text-align: left;
    }

ion-label { 

  h5{
    //color: red;
    font-size: 10px;
    text-transform: uppercase;
  
  }
}

ion-radio{
  //background-color: blue;
  width: $radioSize;
  height: $radioSize;
  //padding: 0;
}
h5{
  color: black;
  font-size: 20px;

}


form{
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.areas{
  //margin: 10px;
  justify-content: center;
}


.bottom{
  margin-top: -20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.submit-btn {
  margin-top: 50px;
  width: 100px;
  h4{
    font-size: 15px;
  }
}
.template-btn {
 width: 150px;
  margin-right: 10px;
  h4{
    font-size: 10px;
    
  }
}

.margin{
margin-top: 90px;
}

//// new css

#copyTarget{
opacity: 0;
height: 0px;
width: 0px;

}
ion-input{
  border: 1px solid black;
  width: 0%;
  height:0;
}

.oop-text{
  margin-top: 30px;
}

.templates{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.special-row{
  //padding-bottom: 11.5px;
}

$radioBorder: #D1D7E3;
$radioActive: #5D9BFB;

