<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides  #goodTextSlider pager="false">
    <ion-slide >
<div class="columns">
  <ion-grid>
    <ion-row class="areas">
       <!-- Agent description section-->            
          <form [formGroup]="descriptionForm">
              <ion-textarea autofocus class="textarea" rows="3" cols="60" formControlName="text"   [(ngModel)]="description" placeholder="Agent description goes here..." [ngClass]="{ 'is-invalid': submitted && a.text.errors }">
              </ion-textarea>
          </form>         
    </ion-row>
     <ion-row>
       <!-- column one -->
      <ion-col>
         <!-- row one Who cause the error-->
        <ion-row class="box">
            <ion-row class="subTitle">
                <h4>Who caused the error </h4>
              </ion-row>
          <form  [formGroup]="errorForm">
            <ion-list>
              <ion-radio-group class="radio-list" formControlName="department" required [ngClass]="{ 'is-invalid': submitted && b.department.errors }">
                <label class="items">
                  <ion-radio name="error" 
                  item-left slot="start" 
                  value="customer" 
                  (click)="selectDepartment('Customer')"></ion-radio>
                  <span class="label-size">Customer</span>
              </label>
              <label class="items">
                <ion-radio name="error" 
                item-left slot="start" 
                value="manufacturing" 
                (click)="selectDepartment('Manufacturing')"></ion-radio>
                <span class="label-size">Factory</span>
            </label> 
            <label class="items">
              <ion-radio name="error" 
              item-left slot="start" 
              value="sales" 
              (click)="selectDepartment('Sales')"></ion-radio>
              <span class="label-size">Sales</span>
          </label>
              <label class="items">
                <ion-radio name="error" 
                item-left slot="start" 
                value="Website" 
                (click)="selectDepartment('Website')"></ion-radio>
                <span class="label-size">Website</span>
            </label>
          <label class="items">
            <ion-radio name="error" 
            item-left slot="start" 
            value="carrier" 
            (click)="selectDepartment('Carrier')"></ion-radio>
            <span class="label-size">Carrier</span>
        </label>
        <label class="items">
          <ion-radio name="error" 
          item-left slot="start" 
          value="receiving" 
          (click)="selectDepartment('Receiving')"></ion-radio>
          <span class="label-size">Receiving</span>
      </label> 
        <label class="items">
          <ion-radio name="error" 
          item-left slot="start" 
          value="op" 
          (click)="selectDepartment('OP')"></ion-radio>
          <span class="label-size">OP</span>
      </label> 
                
              </ion-radio-group>
            </ion-list>
          </form>
        </ion-row >
        <!-- row one Resolution-->     
       
        <ion-row class="box">
            <ion-row class="subTitle">
                <h4>Resolution</h4>
              </ion-row>
          <form [formGroup]="resolutionForm">
            <ion-list>
              <ion-radio-group class="radio-list"  formControlName="action" [ngClass]="{ 'is-invalid': submitted && c.action.errors }">
                  <label class="items">
                  <ion-radio name="error" item-left slot="start" value="rma" (click)="selectResolution('RMA')"></ion-radio>
                  <span class="label-size">RMA</span>
                    </label>
                    <label class="items">                
                      <ion-radio name="error" item-left slot="start" value="sho" (click)="selectResolution('SHO')"></ion-radio>
                      <span class="label-size">SHO</span>    
                    </label> 
                    <label class="items">                
                  <ion-radio name="error" item-left slot="start" value="exchange" (click)="selectResolution('Exchange')"></ion-radio>
                  <span class="label-size">Exchange</span>    
                </label>                
                             
                <label class="items">                
                    <ion-radio name="error" item-left slot="start" value="debit" (click)="selectResolution('Debit')"></ion-radio>
                    <span class="label-size">Debit</span>    
                  </label> 
                  <label class="items">                
                    <ion-radio name="error" item-left slot="start" value="mcr" (click)="selectResolution('MCR')"></ion-radio>
                    <span class="label-size">MCR</span>    
                  </label>               
               
              </ion-radio-group>
            </ion-list>
                       
          </form>
     
        </ion-row>
      </ion-col>
      
      <!-- column two other option section-->
     
      <ion-col>
        <ion-row class="box-b">
        
            <ion-row class="subTitle">
               <h4>restocking/Partial Refund</h4>              
            </ion-row>
          
              <!-- restocking fee row start -->
              <form [formGroup]="restockingForm">

                <ion-list >
                  <ion-radio-group class="radio-list-two" formControlName="restOption">
                     
                    <label class="items-b">
                        <ion-radio name="rest" 
                        item-left slot="start" 
                        value="15%"
                        (click)="selectRestocking('15%')"></ion-radio>
                        <span class="label-size">15%</span>
                    </label> 
                    <label class="items-b">
                        <ion-radio name="rest" 
                        item-left slot="start" 
                        value="75%"
                        (click)="selectRestocking('50%')"></ion-radio>
                        <span class="label-size">50%</span>
                    </label>                               
                    <label class="items-b">
                        <ion-radio name="rest" 
                        item-left slot="start" 
                        value="50%"
                        (click)="selectRestocking('25%')"></ion-radio>
                        <span class="label-size">25%</span>
                    </label>
                    <label class="items-b">
                      <ion-radio name="rest" 
                      item-left slot="start" 
                      value="default"
                      (click)="selectRestocking('N/A')"></ion-radio>
                      <span class="label-size">N/A(default)</span>
                  </label>
                                                         
                  </ion-radio-group>
                </ion-list>
              </form>

            <!-- restocking fee row end -->        

        </ion-row>

        <ion-row class="box-b special-row"  >
          <!-- Save the Sale row start -->
         
              <ion-row class="subTitle">
                  <h4>Save the sale</h4>              
               </ion-row>
            <ion-row>
              <form [formGroup]="stsForm">
                <ion-list>
                  <ion-radio-group class="radio-list-two" formControlName="ststOption">
                   
                    <label class="items-b">
                        <ion-radio name="sts" 
                        item-left slot="start" 
                        value="Yes"
                        (click)="selectSts('Accepted')"></ion-radio>
                        <span class="label-size">Accepted</span>
                    </label> 
                    <label class="items-b">
                      <ion-radio name="sts" 
                      item-left slot="start" 
                      (click)="selectSts('Rejected')"></ion-radio>
                      <span class="label-size">Rejected</span>
                  </label> 
                    <label class="items-b">
                        <ion-radio name="sts" 
                        item-left slot="start" 
                        value="default"
                        (click)="selectSts('N/A')"></ion-radio>
                        <span class="label-size">N/A(default)</span>
                    </label>                                        
                    </ion-radio-group>
                </ion-list>
              </form>
                


            </ion-row>          

        </ion-row>
        <ion-row class="box-b" >
          <!-- Save the Sale row start -->
         
              <ion-row class="fsrTitle">
                  <h4>FSR</h4>              
               </ion-row>
            <ion-row class="special-row">
              <form [formGroup]="fsrForm">
                <ion-textarea  autofocus class="fsrTextArea" rows="1" cols="30" formControlName="fsrValue"  [(ngModel)]="fsr" (ionChange)="getFsr(fsr)"  placeholder="Enter FSR#">
                </ion-textarea>
            </form>
            </ion-row>          

        </ion-row>
       
      </ion-col>
    </ion-row>

  </ion-grid>
  <div>
      <ion-row class="bottom">
     
          <ion-button round class="submit-btn"   expand="block"  (click)="goToSlideTwo()"  [disabled]="!descriptionForm.valid || !errorForm.valid || !resolutionForm.valid">
              <h4>oop</h4>
            </ion-button>
      <ion-button round class="submit-btn"  id="cpyBtn" expand="block" data-clipboard-target="#copyTarget" (click)="submitForm()"  [disabled]="!descriptionForm.valid || !errorForm.valid || !resolutionForm.valid">
        <h4>Copy</h4>
      </ion-button>   
      <ion-button round class="submit-btn"  expand="block" (click)="clearAll()">
          <h4>Clear</h4>
        </ion-button>    
       </ion-row>
    </div>
    <div >
        <textarea id="copyTarget"  rows="0" cols="0">{{this.goodText}}</textarea>
       
    </div>
</div>
 
  <div>    
  </div>
    </ion-slide>
    <ion-slide >
        <div class="columns">
            <ion-grid class="oop-text">
              <ion-row class="templates">
                  <ion-button round class="template-btn" expand="block"  (click)="addOopTemplate()">
                      <h4>Add OOP template</h4>
                    </ion-button>
              <ion-button round class="template-btn"   expand="block" (click)="addLargeDollarTemplate()">
                <h4>Add LD template</h4>
              </ion-button>
              </ion-row>
              <ion-row class="areas">
                 <!-- Agent description section-->            
                    <form [formGroup]="oopForm">
                        <ion-textarea autofocus class="textarea" rows="11" cols="58" formControlName="oopText" [(ngModel)]="oop"(ionChange)="oopOption(oop)" placeholder="OOP and Large Dollar details go here...">
                        </ion-textarea>
                    </form>   
              </ion-row>           
          
            </ion-grid>
            <div>
                <ion-row class="bottom">
                    <ion-button round class="submit-btn" expand="block"  (click)="goBack()">
                        <h4>go back</h4>
                      </ion-button>
                <ion-button round class="submit-btn"  id="cpyBtn" expand="block" data-clipboard-target="#copyTarget" (click)="submitOop()"  [disabled]="!descriptionForm.valid || !errorForm.valid || !resolutionForm.valid">
                  <h4>Copy</h4>
                </ion-button>
                <ion-button round class="submit-btn"   expand="block"  (click)="ClearOOP()">
                    <h4>Clear OOP</h4>
                  </ion-button>
                 </ion-row>
              </div>
          </div>
    </ion-slide>
    <ion-slide>
   
    </ion-slide>
  </ion-slides>

</ion-content>
