.textarea {
  border: 2px solid black;
}

ion-textarea {
  text-align: left;
}

ion-list {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.subTitle {
  background-color: grey;
  width: 422px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subTitle h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

ion-item {
  border: solid 1px black;
}

h5 {
  color: green;
  font-size: 20px;
}

.fsr-spacing {
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: orange;
}
/*# sourceMappingURL=home.css.map */